body { background-color:#000000; color:#14F074; font-family:monospace; font-size:1.5em; }
a { text-decoration:none; color:#14F074; }
a:hover { color:#05d6f2; }
#version { position:fixed; right:0; bottom:0; margin:0 50px 50px 0; text-align:right; }